/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile Styles */

.label1 {
  @apply font-poppins text-[16px] font-semibold leading-[24px];
}

.label2 {
  @apply font-poppins text-[14px] font-semibold leading-[21px];
}

.header1 {
  @apply font-poppins text-[32px] font-bold leading-[48px];
}

.header2 {
  @apply font-poppins text-[24px] font-semibold leading-[34px];
}

.body2 {
  @apply font-poppins text-[16px] font-normal leading-[24px];
}

/* Desktop Styles using Tailwind's default 'md' breakpoint */
@media screen(lg) {
  .label1 {
    @apply font-poppins text-[20px] font-semibold leading-[30px];
  }

  .label2 {
    @apply font-poppins text-[16px] font-semibold leading-[24px];
  }

  .header1 {
    @apply font-poppins text-[48px] font-bold leading-[72px];
  }

  .header2 {
    @apply font-poppins text-[36px] font-bold leading-[54px];
  }

  .body2 {
    @apply font-poppins text-[20px] font-normal leading-[30px];
  }
}

.options-container {
  overflow-x: auto; /* This ensures it scrolls when content overflows */
}

.options-container::-webkit-scrollbar {
  height: 4px; 
}

.options-container::-webkit-scrollbar-track {
  background: #A3A6AA;
  border-radius: 2px;
}

.options-container::-webkit-scrollbar-thumb {
  background: #0066ff;
  border-radius: 2px;
}

.hero.bg body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
